<form>
  <input type="number" id="inflictDamagePoints" name="damage" />
  <br />
  <label>
    <input type="checkbox" name="toTotalHp" checked />
    {{localize "RQG.Item.HitLocation.AddWound.ApplyToTotalHitPointsQ"}}
  </label>
  <br />
  <label>
    <input type="checkbox" name="subtractAP" checked />
    {{localize "RQG.Item.HitLocation.AddWound.SubtractArmorPointsQ"}}
  </label>
  <br />
</form>