.rqid-editor {
  .key-value-grid {
    input[type="text"],
    select {
      width: 15rem;
    }

    .open-parent-rqid-link {
      margin-left: 0.5rem;
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  fieldset {
    margin-top: 3rem;

    .input-button input[type="text"] {
      width: 28rem;
    }
  }
}
