#rqid-editor-application {
  .key-value-grid {
    input[type="text"],
    select {
      width: 15rem;
    }

    .input-button {
      align-items: center;
      width: 100%;
    }
  }

  fieldset {
    margin-top: 12rem;

    .input-button input[type="text"] {
      width: 28rem;
    }
  }
}
