<div class="flex-row flex-wrap">
  {{> actorHealth }}
  <div>
    {{#if showUiSection.combat}}
      {{> actorCombat }}<br>
    {{/if}}
    {{> actorSpiritCombat }}
  </div>
  <div class="fullwidth">
    <h2>{{localize "RQG.Actor.Attributes.AlliesAndNotes"}}</h2>
    {{editor
      enrichedAllies
      target="system.allies"
      button=true
      engine="prosemirror"
      editable=isEditable
    }}
  </div>
</div>
