{{!-- Partial {{> rqidLinkSelector

rqidLinkArray: RqidLink[]

  this: RqidLink {
    rqid,
    name,
    choice ???
   }

  rqidLinkArray=homeland.selectedHomeland.system.cultureJournalRqidLinks
  checkedProperty="homelandCultureChosen"
  forChoice="homelandCultures"
  title="RQG.ActorCreation.Step1.ImportCultureTitle"

  showBonus -> rqidLink
  editBonusPropertyName -> rqidLink
--}}

{{#each rqidLinkArray}}
    <div class="rqid-link-selector">
        <input type="checkbox"
            class="wizard-choice-input"
            data-rqid="{{this.rqid}}"
            data-for-choice="{{../forChoice}}"
            {{#if this.choice}}
            {{#if (lookup this.choice ../checkedProperty)}}checked{{/if}}
            {{/if}}
            data-tooltip="{{localize ../title name=this.name}}"
            />
    {{> rqidLink
        rqidLink=this
        showBonus=../showBonus
        editBonusPropertyName=../editBonusPropertyName
    }}
    </div>
{{/each}}
