<form>
  <h2>{{localize 'RQG.Settings.HitLocations.settingName'}}</h2>
  <input type="text" name="hitLocationItemNames" placeholder="{{localize 'RQG.Settings.HitLocations.addLocationPlaceholder'}}"><br><br>
  <div class="flexrow">
    {{#each hitLocationItemNames}}
        <input type="text" value="{{this}}" name="hitLocationItemNames"><br>
    {{/each}}
  </div>
</form>
