<h1>{{localize "RQG.Migration.Dialog.header"}}</h1>
<p>{{localize "RQG.Migration.Dialog.migrationWarning" worldVersion=worldVersion systemVersion=systemVersion}}</p>
<p>{{localize "RQG.Migration.Dialog.migrationTime"}}</p>
