<header class="roll-header">
  <div class="sub-header">{{rollType}}</div>
  <div>
    <div class="main-header">{{rollName}}</div>
    <div class="spell-signature">{{spellSignature}}</div>
  </div>
  <div class="sub-header">{{baseChance}}</div>
</header>
