<header class="roll-header">
  <div class="sub-header">{{localize "TYPES.Item.skill"}}</div>
  <div class="main-header">{{skillItem.name}}</div>
  <div class="sub-header">{{abilityChance}}%</div>
</header>
