<div class="dice-roll">
  <div class="dice-result">
    <div>{{{heading}}}</div>
    <div class="dice-total">
        <div class="outcome">{{hitLocationName}}</div>
      <div><i class="fa-solid fa-dice"></i>{{total}}</div>
    </div>
  </div>
  {{{tooltip}}}
</div>
