<section class="improve-dialog-source-picker">
  <h2>{{localize "RQG.Dialog.improveAbilityDialog.chooseSource"}}</h2>
  <div class="improve-dialog-source-options">
    {{> @partial-block}}
  </div>
</section>
