<section class="sheet-body">
  {{> actorSheetV2Combat}}
  {{#if showUiSection.runes}}{{> actorSheetV2Runes}}{{/if}}
  {{#if showUiSection.spiritMagic}}{{> actorSheetV2SpiritMagic}}{{/if}}
  {{#if showUiSection.runeMagic}}{{> actorSheetV2RuneMagic}}{{/if}}
  {{#if showUiSection.sorcery}}{{> actorSheetV2Sorcery}}{{/if}}
  {{#if showUiSection.skills}}{{> actorSheetV2Skills}}{{/if}}
  {{#if showUiSection.gear}}{{> actorSheetV2Gear}}{{/if}}
  {{#if showUiSection.passions}}{{> actorSheetV2Passions}}{{/if}}
  {{> actorSheetV2Background}}
  {{#if showUiSection.activeEffects}}
    <div class="tab activeeffectstesting" data-group="primary" data-tab="activeeffectstesting">
      {{> actorActiveEffectsTab }}
    </div>
  {{/if}}
</section>
