<div class="drop-target item-sheet-rqid-link"
     data-dropzone="{{dropzoneData}}"
     data-dropzone-document-names="{{dropDocumentNames}}"
     data-dropzone-document-types="{{dropDocumentTypes}}">
  {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
    rqidLink=rqidLink
    showDeleteFromPropertyName=showDeleteFromPropertyName
    showInfoCircleConnect=showInfoCircleConnect
    showInfoCircleReplace=showInfoCircleReplace
    showBonus=showBonus
    editBonusPropertyName=editBonusPropertyName
  }}
</div>
