<a
  class="entity-link content-link"
  data-rqid-link
  data-type="Item"
  data-item-type="{{rqidLink.itemType}}"
  data-rqid="{{rqidLink.rqid}}"
  title="{{localize 'RQG.Item.RqgItem.RqidLinkTitle' rqid=rqidLink.rqid}}"
>
  <i class="fas fa-suitcase"></i>
  {{rqidLink.name}}
</a>