<div class="drop-target item-sheet-rqid-link" 
        data-target-drop-property="{{parentField}}"
        data-expected-drop-types="{{dropTypes}}">
    <div style="display: flex; flex-wrap: wrap;">
        {{#each rqidLinkArray}}
        {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
            rqidLink=this
            showDeleteFromPropertyName=../showDeleteFromPropertyName
            showBonus=../showBonus
            editBonusPropertyName=../editBonusPropertyName
        }}
        {{/each}}
        {{#unless rqidLinkArray.length}}
        {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
            showInfoCircleConnect=showInfoCircleConnect
        }}
        {{/unless}}   
    </div>
</div>