<div class="drop-target item-sheet-rqid-link" 
    data-target-drop-property="{{parentField}}" 
    data-expected-drop-type="{{dropType}}">
{{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
    rqidLink=rqidLink
    showDeleteFromPropertyName=showDeleteFromPropertyName
    showInfoCircleConnect=showInfoCircleConnect
    showInfoCircleReplace=showInfoCircleReplace
}}
</div>