<div class="dice-tooltip">
  <b>{{naturalSkill}}</b><sub><i>{{localize "RQG.Roll.AbilityRoll.Base"}}</i></sub>
  {{#each modifiers}}
    <b>{{value}}</b><sub><i>{{description}}</i></sub>
  {{/each}}
</div>

