<footer class="form-footer">
  <button type="button" data-action="resetDefaults">
    <i class="fa-solid fa-arrow-rotate-left" inert></i>
    <span>{{localize "RQG.Settings.DefaultItemIcons.Reset"}}</span>
  </button>
  <button type="submit">
    <i class="fa-solid fa-floppy-disk" inert></i>
    <span>{{localize "RQG.Settings.DefaultItemIcons.Submit"}}</span>
  </button>
</footer>