<section class="default-icons-body">
  {{#each iconRows}}
    <div class="form-group">
      <label>{{localizeitemtype key}}</label>
      <div class="form-fields">
        <img src="{{value}}" />
        <file-picker name="{{key}}" type="image" value="{{value}}"></file-picker>
      </div>
    </div>
  {{/each}}
</section>
