<div class="dice-roll">
  <div class="dice-result">
    <div class="dice-total">
        <div class="outcome">{{localize "RQG.Roll.DamageRoll.Damage"}}</div>
      <div><i class="fa-solid fa-dice"></i>{{total}}</div>
    </div>
  </div>
  {{{tooltip}}}
</div>
