{{#if ownedItems.rune.condition}}
<div class="grid {{#if wizard}}rune-select{{else}}rune{{/if}} item-list">
  <h2 class="fullrow">{{localize "RQG.Actor.Rune.Condition"}}</h2>
  {{#each ownedItems.rune.condition}}
    {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs" }}
  {{/each}}
</div>
{{/if}}
