<div class="flex-row flex-wrap">
  {{>"systems/rqg/actors/sheet-parts/elemental.hbs" }}
  {{>"systems/rqg/actors/sheet-parts/power.hbs" }}
  {{>"systems/rqg/actors/sheet-parts/form.hbs" }}
  {{>"systems/rqg/actors/sheet-parts/condition.hbs" }}
</div>
