{{#each runeArray}}
    <div class="rqid-link-selector">
        <input type="checkbox" 
            class="wizard-choice-input"
            data-rqid="{{this.rqid}}"
            data-for-choice="{{../forChoice}}"
            {{#if this.choice}}
            {{#if (lookup this.choice ../checkedProperty)}}checked{{/if}}
            {{/if}}
            title="{{localize ../title name=this.name}}"
            />
    {{> "systems/rqg/actors/sheet-parts/grid-rune.hbs"
        rune=this
        wizard=../wizard 
        forChoice=../forChoice
    }}
    </div>
{{/each}}