<div class="flex-row flex-wrap">
  {{>"systems/rqg/actors/sheet-parts/runes-elemental.hbs" }}
  {{>"systems/rqg/actors/sheet-parts/runes-power.hbs" }}
  {{>"systems/rqg/actors/sheet-parts/runes-form.hbs" }}
  {{>"systems/rqg/actors/sheet-parts/runes-condition.hbs" }}
</div>
