<div class="masonry">
  {{#each ownedItems.skill}}
  {{#if this}}
  <div class="masonry-item">
    <h2>{{localize (concat 'RQG.Actor.Skill.SkillCategory.' @key)}} 
      {{#unless ../wizard}}
        ({{#with @root.characterData.skillCategoryModifiers}}{{lookup this @key}}{{/with}})
      {{/unless}}
    </h2>
    <div class="grid {{#if ../wizard}}skill-select{{else}}skill{{/if}} item-list">
      {{#each this}}
      {{#unless data.data.runes}}
      {{>"systems/rqg/actors/sheet-parts/grid-skill.hbs" }}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>
