<div class="power flex-row">
  <div>
    <div class="small-size">{{localize "RQG.Actor.Sorcery.FreeINT"}} {{freeInt}}</div>
    <div class="grid skill">
    {{#each embeddedItems.skill.magic}}
    {{#if system.runes}}
    {{>"systems/rqg/actors/sheet-parts/grid-skill.hbs"
      skill=this
      wizard=../../wizard
      forChoice=../../forChoice
      checkedProperty=../../checkedProperty
      asBonus=../../asBonus}}
    {{/if}}
    {{/each}}
    </div>
  </div>

  <div>
    <h2>{{localize "RQG.Actor.Sorcery.Techniques"}}</h2>
    <div class="grid rune">
    {{#each embeddedItems.rune.technique}}
      {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs"
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty}}
    {{/each}}
    </div>
  </div>

  <div>
    <h2>{{localize "RQG.Actor.Sorcery.MasteredRunes"}}</h2>
    <div class="grid rune">
      {{#each embeddedItems.rune.element}}
        {{#if system.isMastered}}
        {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs"
          rune=this
          wizard=../wizard
          forChoice=../forChoice
          checkedProperty=../checkedProperty}}
        {{/if}}
      {{/each}}

      {{#each embeddedItems.rune.power}}
        {{#if system.isMastered}}
        {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs"
          rune=this
          wizard=../wizard
          forChoice=../forChoice
          checkedProperty=../checkedProperty}}
        {{/if}}
      {{/each}}

      {{#each embeddedItems.rune.form}}
        {{#if system.isMastered}}
        {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs"
          rune=this
          wizard=../wizard
          forChoice=../forChoice
          checkedProperty=../checkedProperty}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
