<div class="power flex-row">
  <div>
    <div class="small-size">{{localize "RQG.Actor.Sorcery.FreeINT"}} {{freeInt}}</div>
    <div class="grid skill">
    {{#each ownedItems.skill.magic}}
    {{#if data.data.runes}}
    {{>"systems/rqg/actors/sheet-parts/grid-skill.hbs" }}
    {{/if}}
    {{/each}}
    </div>
  </div>

  <div>
    <h2>{{localize "RQG.Actor.Sorcery.Techniques"}}</h2>
    <div class="grid rune">
    {{#each ownedItems.rune.technique}}
      {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs" }}
    {{/each}}
    </div>
  </div>

  <div>
    <h2>{{localize "RQG.Actor.Sorcery.MasteredRunes"}}</h2>
    <div class="grid rune">
      {{#each ownedItems.rune.element}}
        {{#if data.data.isMastered}}
        {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs" }}
        {{/if}}
      {{/each}}

      {{#each ownedItems.rune.power}}
        {{#if data.data.isMastered}}
        {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs" }}
        {{/if}}
      {{/each}}

      {{#each ownedItems.rune.form}}
        {{#if data.data.isMastered}}
        {{>"systems/rqg/actors/sheet-parts/grid-rune.hbs" }}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
