<div class="flexrow flex-wrap gap1rem">
  <div class="target-box" data-tooltip="{{localize "RQG.Dialog.Common.TargetChance"}}">
    <i class="fa-solid fa-bullseye"></i><br>
    {{totalChance}}%
  </div>

  <button data-defend>{{defenceButtonText}}</button>
</div>
