{{#if enrichedIncorrectRunes}}<div class="warning">{{{enrichedIncorrectRunes}}}</div>{{/if}}
<div class="flex-row flex-wrap">
  {{> actorRuneElements }}
  {{> actorRunePower }}
  {{> actorRuneForm }}
  {{> actorRuneCondition }}

  {{#unless (isEmptyObject embeddedItems.rune.invalid)}}
    <div class="grid rune {{#edit-mode system.editMode "all"}}rune-edit-mode{{/edit-mode}} item-list">
      <h2 class="fullrow">🐛 Extra / Duplicate Runes</h2>
      {{#each embeddedItems.rune.invalid}}
        {{> actorRuneGrid
          rune=this
          wizard=../wizard
          forChoice=../forChoice
          checkedProperty=../checkedProperty
          editMode=../system.editMode}}
      {{/each}}
    </div>
  {{/unless}}
</div>
