{{#unless (isEmptyObject embeddedItems.rune.power)}}
  <div class="grid {{#if wizard}}opposed-rune-select{{else}}opposed-rune{{/if}} {{#edit-mode system.editMode "all"}}opposed-rune-edit-mode{{/edit-mode}} item-list">
    <h2 class="fullrow">{{localize 'RQG.Actor.Rune.Power'}}</h2>

    {{#with embeddedItems.rune.power.fertility}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}
    <i class="fas fa-arrows-alt-h"></i>
    {{#with embeddedItems.rune.power.death}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}

    {{#with embeddedItems.rune.power.harmony}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}
    <i class="fas fa-arrows-alt-h"></i>
    {{#with embeddedItems.rune.power.disorder}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}

    {{#with embeddedItems.rune.power.truth}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}
    <i class="fas fa-arrows-alt-h"></i>
    {{#with embeddedItems.rune.power.illusion}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}

    {{#with embeddedItems.rune.power.stasis}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}
    <i class="fas fa-arrows-alt-h"></i>
    {{#with embeddedItems.rune.power.movement}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}
  </div>
{{/unless}}
