{{#unless (isEmptyObject embeddedItems.rune.form)}}
  <div class="grid {{#if wizard}}opposed-rune-select{{else}}opposed-rune{{/if}} {{#edit-mode system.editMode "all"}}opposed-rune-edit-mode{{/edit-mode}} item-list">
    <h2 class="fullrow">{{localize "RQG.Actor.Rune.Form"}}</h2>

    {{#with embeddedItems.rune.form.man}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}
    <i class="fas fa-arrows-alt-h"></i>
    {{#with embeddedItems.rune.form.beast}}
      {{> actorRuneGrid
        rune=this
        wizard=../wizard
        forChoice=../forChoice
        checkedProperty=../checkedProperty
        editMode=../system.editMode}}
    {{/with}}

    {{#each embeddedItems.rune.form}}
      {{#unless (eq @key "man")}}
        {{#unless (eq @key "beast")}}
          {{#with this}}
            {{> actorRuneGrid
              rune=this
              wizard=../wizard
              forChoice=../forChoice
              checkedProperty=../checkedProperty
              editMode=../system.editMode}}

          {{/with}}
        {{/unless}}
      {{/unless}}
    {{/each}}
  </div>
{{/unless}}
