<div class="grid {{#if wizard}}opposed-rune-select{{else}}opposed-rune{{/if}} item-list">
  <h2 class="fullrow">{{localize 'RQG.Actor.Rune.Power'}}</h2>

  {{#with embeddedItems.rune.power.fertility}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with embeddedItems.rune.power.death}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}

  {{#with embeddedItems.rune.power.harmony}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with embeddedItems.rune.power.disorder}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}

  {{#with embeddedItems.rune.power.truth}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with embeddedItems.rune.power.illusion}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}

  {{#with embeddedItems.rune.power.stasis}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with embeddedItems.rune.power.movement}}
    {{>"systems/rqg/actors/sheet-parts/runes-tab/grid-rune.hbs"
      rune=this
      wizard=../wizard
      forChoice=../forChoice
      checkedProperty=../checkedProperty}}
  {{/with}}
</div>
