:root {
  --rqg-color-main: #854906;
  --rqg-color-main-bg: #f3a71e;

  --rqg-secondary-color: #5c8322;
  --rqg-table-alternate-background: rgba(0, 0, 0, 0.08);

  --rqg-background-tab-active:
    linear-gradient(purple 0%, #e60000 90%),
    linear-gradient(to right, #711771 0%, #d6d63a 90%),
    url(assets/images/stonetexture2.jpg);

  --rqg-box-shadow-tab-active:
    inset 2px 2px 7px 2px black,
    0 0 8px 0 #d9dc17,
    -3px -3px 7px 2px black;
  --rqg-box-shadow-profile-img: 1px 1px 30px 5px #4c3b1ad6, -1px -1px 9px 5px #e2cb9ded;
  --rqg-box-shadow-grid-header: inset 0 0 20px 7px var(--rqg-color-main-bg);
  --rqg-box-shadow-editor-content: inset 0 0 20px 0 #caaa6a, 0 0 3px 2px #caaa6a;

  --rqg-color-grid-text-shadow: #6f644e;

  --rqg-color-enc-bg: #d8b16e;
  --rqg-color-enc-warning: #ff640045;
  --rqg-color-enc-legend: #e4cc9d;


  --rqg-color-invalid-journal: #e4b5ad; //Regular journal in chat card is: #7a7971

  // *** Foundry (9) Defined CSS Parameters ***
  //--color-text-light-highlight: #f0f0e0; // ***
  //--color-text-light-heading: #c9c7b8;
  //--color-text-light-primary: #b5b3a4;
  //--color-text-dark-primary: #191813;
  //--color-text-dark-secondary: #4b4a44;
  //--color-text-dark-header: #23221d;
  //--color-text-dark-inactive: #7a7971;
  //--color-text-hyperlink: #ff6400;
  //--color-text-light-0: #fff;
  //--color-text-light-1: #eee;
  //--color-text-light-2: #ddd;
  //--color-text-light-3: #ccc;
  //--color-text-light-4: #bbb;
  //--color-text-light-5: #aaa;
  //--color-text-light-6: #999;
  //--color-text-light-7: #888;
  //--color-text-dark-1: #111;
  //--color-text-dark-2: #222;
  //--color-text-dark-3: #444;
  //--color-text-dark-4: #555;
  //--color-text-dark-5: #666;
  //--color-text-dark-6: #777;
  //--color-border-light-1: #ddd;
  //--color-border-light-2: #999;
  //--color-border-dark-1: #111;
  //--color-border-dark-2: #222;
  //--color-border-dark-3: #333;
  //--color-border-dark-4: #444;
  //--color-border-dark-5: #666;
  --color-shadow-primary: var(--rqg-color-main); // #ff0000;
  //--color-shadow-highlight: #ff6400;
  //--color-shadow-dark: #000;
  //--color-underline-inactive: #7a7971;
  //--color-underline-active: #44191A;
  //--color-underline-header: #854906;
  //--color-border-light-highlight: #f0f0e0;
  //--color-border-light-primary: #b5b3a4;
  //--color-border-light-secondary: #c9c7b8;
  //--color-border-light-tertiary: #7a7971;
  //--color-border-dark: #000;
  //--color-border-dark-primary: #191813;
  //--color-border-dark-secondary: #23221d;
  //--color-border-dark-tertiary: #4b4a44;
  --color-border-highlight: var(--rqg-color-main-bg);  // #ff6400;
  --color-border-highlight-alt: var(--rqg-color-main-bg); // #ff0000;
  //--color-bg-btn-minor-inactive: #c9c7b8;
  //--color-bg-btn-minor-active: #b5b3a4;
  //--z-index-canvas: 0;
  //--z-index-app: 30;
  //--z-index-ui: 60;
  //--z-index-window: 100;
  //--sidebar-width: 300px;
  //--sidebar-header-height: 32px;
  //--sidebar-item-height: 48px;
  //--hotbar-height: 52px;
  //--hotbar-width: 578px;
  //--macro-size: 50px;
  //--players-width: 200px;
  //--form-field-height: 26px;
  //--font-primary: "Signika", sans-serif;
  //--font-mono: monospace;
  //--font-size-11: 0.6875rem;
  //--font-size-12: 0.75rem;
  //--font-size-13: 0.8125rem;
  //--font-size-14: 0.875rem;
  //--font-size-16: 1rem;
  //--font-size-18: 1.125rem;
  //--font-size-20: 1.25rem;
  //--font-size-24: 1.5rem;
  //--font-size-28: 1.75rem;
  //--line-height-12: 0.75rem;
  //--line-height-16: 1rem;
  //--line-height-20: 1.25rem;
  //--line-height-30: 1.875rem;
}
