@use "variables";
@use "applications/rqidEditor/rqidEditor";
@use "applications/rqid-batch-editor/rqidBatchEditor";
@use "items/itemsheets";
@use "actors/actorsheets";

body {
  background-attachment: fixed !important;
  background-size: cover !important;
  background: url("assets/images/ui/sacred-time.webp") no-repeat;
}

// adding attribute readonly to the input excludes it from the form application?
input.readonly {
  border: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--rqg-color-main-bg);
  border: 1px solid var(--rqg-color-main);
}

:root {
  scrollbar-width: thin;
  scrollbar-color: var(--rqg-color-main-bg) #111;
}

// Hide LastPass input icon
[data-lastpass-icon-root],
[data-lastpass-root] {
  display: none !important;
}

.combat-sidebar .combat-tracker-header div.encounter-controls .encounter-title {
  margin-left: calc(3 * var(--control-width)); // Offset "Round 1" to account for removed buttons
}

.norse {
  font-family: "Norse", "Signika", "Palatino Linotype", serif;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}

.pad-left {
  padding-left: 10px !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
  margin-left: auto;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.large-font {
  font-size: 1.2rem;
}

.small-size {
  font-size: small;
}

.x-small-size {
  font-size: x-small;
}

.align-flex-baseline {
  align-items: baseline;
}

.title-rqid-link {
  opacity: 0.5;
  cursor: pointer;
}

.title-edit-mode {
  cursor: pointer;
}

.rqg img[src*="systems/rqg/assets/images"][src$=".svg"], // Make rqg svg icons black to match text color
.app.sheet img[src*="systems/rqg/assets/images"][src$=".svg"], // make them black in all sheets (like journals)
.app.default-icons img[src*="systems/rqg/assets/images"][src$=".svg"] {
  // Make them black in the default item icon setting
  filter: invert(0.9);
}

.rqg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Norse", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    font-weight: bold;

    &.window-title {
      font-family: revert;
      font-variant: revert;
      letter-spacing: revert;
      font-weight: revert;
    }
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    > * {
      height: 100%;
    }
  }

  .flex-row-start {
    display: flex;
    justify-content: flex-start;
  }

  .flex-row-end {
    display: flex;
    justify-content: flex-end;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-align-center {
    align-items: center;
  }

  .flex-align-end {
    align-items: flex-end;
  }

  .flex-1 {
    flex: 1;
  }

  .no-display {
    display: none;
  }

  .drag-hover {
    box-shadow: inset 0 0 20px 7px var(--rqg-secondary-color);
  }

  .gap1rem {
    gap: 1rem;
  }

  .gap03rem {
    gap: 0.3rem;
  }

  .gap01rem {
    gap: 0.1rem;
  }

  .gap0 {
    gap: 0;
  }

  .fullwidth {
    width: 100%;
  }

  .fullheight {
    height: 100%;
  }

  .warning {
    outline: 2px dashed var(--rqg-color-enc-warning);
    background-color: var(--rqg-color-enc-warning);
  }

  .mp-ellipses {
    text-overflow: ellipsis;
    max-width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

  .masonry {
    display: block;
    columns: 12rem auto;
    gap: 1.5rem;
  }

  .masonry-item {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .nowrap {
    white-space: nowrap;
  }

  .preserve-wrap {
    white-space: pre-wrap;
  }

  .break-word {
    word-break: break-all;
  }

  input[type="number"] {
    width: auto;
    text-align: right;
  }

  input[type="checkbox"] {
    flex: 0 0 12px;
    width: 12px;
    height: 12px;
    margin: 3px 3px;
  }

  input[type="submit"] {
    width: 100%;
    margin: 0 1px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove var(--color-text-light-highlight);
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    font-family: var(--font-primary);
  }

  input:read-only {
      border: none;
      color: var(--color-text-dark-secondary);
  }

  .mb-1-5rem {
    margin-bottom: 1.5rem;
  }

  .ml-5 {
    margin-left: 5px;
  }

  .mr-5 {
    margin-right: 5px;
  }

  .mr-0 {
    margin-right: 0;
  }

  .p-0 {
    padding: 0;
  }

  .p-5 {
    padding: 5px;
  }

  .tab.gear {
    article {
      margin-bottom: 0.7rem;
    }

    .gear-wrapper {
      flex-wrap: wrap;
      margin-left: -16px;
      margin-right: -16px;

      article {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }

  img.rune {
    height: 20px;
    border: none;
    margin: 0 1px;
    mix-blend-mode: overlay;
  }

  img.requires-training {
    height: 20px;
    border: none;
    margin: 0 0 0 auto;
    mix-blend-mode: overlay;
  }

  img.rune-dark {
    height: 20px;
    border: none;
    margin: 0;
  }

  img.item {
    height: 26px;
    border: none;
    vertical-align: inherit;
  }

  button.sort {
    line-height: unset;
    width: 1.8em;

    i {
      margin-left: -2px; // center the icon
    }
  }

  .grid {
    display: grid;
    grid-template-rows: [row-start] min-content [row-end];
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 0;

    > * {
      padding: 2px;
      position: relative;
      display: flex;
      align-items: center;
    }

    .centered {
      justify-content: center;
    }

    .fullrow {
      grid-column: 1 / -1;
    }

    .headings {
      grid-column: 1/-1;
      grid-row: 1/2;

      background: var(--rqg-color-main-bg);
      mix-blend-mode: color-burn;
      text-shadow: 3px 4px 4px var(--rqg-color-grid-text-shadow);
      box-shadow: var(--rqg-box-shadow-grid-header);
      border: 3px double grey;
      border-radius: 40px;
      margin-left: -0.4rem;
      margin-right: -0.4rem;
    }

    .footer {
      grid-column: 1/-1;
      grid-row: auto;
      margin-top: -1.3rem;
      background: var(--rqg-color-main-bg);
      mix-blend-mode: color-burn;
      text-shadow: 3px 4px 4px var(--rqg-color-grid-text-shadow);
      box-shadow: var(--rqg-box-shadow-grid-header);
      border: 1px solid grey;
      border-radius: 40px;
      margin-left: -0.4rem;
      margin-right: -0.4rem;
    }

    .head1 {
      grid-row: 1;
      grid-column: 1/2;
    }

    .head2 {
      grid-row: 1;
      grid-column: 2/3;
    }

    .head3 {
      grid-row: 1;
      grid-column: 3/4;
    }

    .head4 {
      grid-row: 1;
      grid-column: 4/5;
    }

    .head5 {
      grid-row: 1;
      grid-column: 5/6;
    }

    .head6 {
      grid-row: 1;
      grid-column: 6/7;
    }

    .head7 {
      grid-row: 1;
      grid-column: 7/8;
    }

    .head8 {
      grid-row: 1;
      grid-column: 8/9;
    }

    .head9 {
      grid-row: 1;
      grid-column: 9/10;
    }

    .head10 {
      grid-row: 1;
      grid-column: 10/11;
    }

    .head11 {
      grid-row: 1;
      grid-column: 11/12;
    }

    .head12 {
      grid-row: 1;
      grid-column: 12/13;
    }

    .head13 {
      grid-row: 1;
      grid-column: 13/14;
    }

    .head1-4 {
      grid-row: 1;
      grid-column: 1 / span 4;
    }

    .no-background {
      background-color: transparent !important;
    }

    &.spirit-combat {
      grid-template-columns: [col-start] 30px auto min-content [col-end];

      // Alternating row background
      > *:nth-child(6n + 1),
      > *:nth-child(6n + 2),
      > *:nth-child(6n + 3) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.combat {
      grid-template-columns: [col-start] 30px repeat(5, auto) [col-end];

      // Alternating row background for 6 columns
      > *:nth-child(12n + 14),
      > *:nth-child(12n + 15),
      > *:nth-child(12n + 16),
      > *:nth-child(12n + 17),
      > *:nth-child(12n + 18),
      > *:nth-child(12n + 19) {
        background: var(--rqg-table-alternate-background);
      }

      .invalid {
        color: var(--rqg-highlight);
      }

      // Set-token-SR-in-combat button
      button.sr {
        height: 1.5rem;
        line-height: unset;
        width: unset;
        text-align: left;
      }

      .usage {
        line-height: 1.5rem;

        &.missile {
          line-height: 3rem;
        }

        &.default-usage {
          font-weight: bold;
        }
      }
    }

    &.spiritmagic {
      grid-template-columns: [col-start] 30px auto auto repeat(7, min-content) [col-end];

      // Alternating row background for 10 columns
      > *:nth-child(20n + 22),
      > *:nth-child(20n + 23),
      > *:nth-child(20n + 24),
      > *:nth-child(20n + 25),
      > *:nth-child(20n + 26),
      > *:nth-child(20n + 27),
      > *:nth-child(20n + 28),
      > *:nth-child(20n + 29),
      > *:nth-child(20n + 30),
      > *:nth-child(20n + 31) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.gear {
      grid-template-columns: [col-start] 30px auto repeat(5, max-content) [col-end];

      // Alternating row background for 7 columns
      > *:nth-child(14n + 16),
      > *:nth-child(14n + 17),
      > *:nth-child(14n + 18),
      > *:nth-child(14n + 19),
      > *:nth-child(14n + 20),
      > *:nth-child(14n + 21),
      > *:nth-child(14n + 22) {
        background: var(--rqg-table-alternate-background);
      }
    }

    .usagecontainer {
      display: block;
    }

    .usagecell {
      padding-top: 4px;
    }

    &.weapon {
      grid-template-columns: [col-start] 30px auto auto repeat(10, max-content) [col-end];

      // Alternating row background for 13 columns
      > *:nth-child(26n + 28),
      > *:nth-child(26n + 29),
      > *:nth-child(26n + 30),
      > *:nth-child(26n + 31),
      > *:nth-child(26n + 32),
      > *:nth-child(26n + 33),
      > *:nth-child(26n + 34),
      > *:nth-child(26n + 35),
      > *:nth-child(26n + 36),
      > *:nth-child(26n + 37),
      > *:nth-child(26n + 38),
      > *:nth-child(26n + 39),
      > *:nth-child(26n + 40) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.armor {
      grid-template-columns: [col-start] 30px auto min-content auto repeat(5, max-content) [col-end];

      > *:nth-child(18n + 20),
      > *:nth-child(18n + 21),
      > *:nth-child(18n + 22),
      > *:nth-child(18n + 23),
      > *:nth-child(18n + 24),
      > *:nth-child(18n + 25),
      > *:nth-child(18n + 26),
      > *:nth-child(18n + 27),
      > *:nth-child(18n + 28) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.rune-magic {
      grid-template-columns: [col-start] 30px auto repeat(8, max-content) [col-end];

      > *:nth-child(20n + 22),
      > *:nth-child(20n + 23),
      > *:nth-child(20n + 24),
      > *:nth-child(20n + 25),
      > *:nth-child(20n + 26),
      > *:nth-child(20n + 27),
      > *:nth-child(20n + 28),
      > *:nth-child(20n + 29),
      > *:nth-child(20n + 30),
      > *:nth-child(20n + 31) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.hit-location {
      grid-template-columns: [col-start] repeat(3, min-content) repeat(4, auto) [col-end];

      > *:nth-child(14n + 13),
      > *:nth-child(14n + 14),
      > *:nth-child(14n + 15),
      > *:nth-child(14n + 16),
      > *:nth-child(14n + 17),
      > *:nth-child(14n + 18),
      > *:nth-child(14n + 19) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.skill {
      grid-template-columns: [col-start] 30px auto min-content [col-end];

      // Alternating row background
      > *:nth-child(6n + 1),
      > *:nth-child(6n + 2),
      > *:nth-child(6n + 3) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.skill-select {
      grid-template-columns: [col-start] 30px 30px auto min-content [col-end];

      // Alternating row background
      > *:nth-child(8n + 1),
      > *:nth-child(8n + 2),
      > *:nth-child(8n + 3),
      > *:nth-child(8n + 4) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.skill-edit-mode {
      grid-template-columns: [col-start] 30px auto 50px min-content [col-end];

      // Alternating row background
      > *:nth-child(8n + 1),
      > *:nth-child(8n + 2),
      > *:nth-child(8n + 3),
      > *:nth-child(8n + 4) {
        background: var(--rqg-table-alternate-background);
      }
    }

    &.passions {
      display: grid;
      grid-template-rows: [row-start] auto [row-end];
      grid-auto-rows: auto;
      grid-auto-columns: auto;
      grid-gap: 0;
      grid-template-columns: [col-start] auto [col-end];

      // Alternating row background
      > *:nth-child(2n + 1) {
        background: var(--rqg-table-alternate-background);
      }

      .grid.passion {
        display: grid;
        grid-template-columns: [col-start] 45px [description-start] auto min-content [description-end col-end];
        grid-template-rows: [row-start] auto [row-end description-start] auto [description-end];
      }

      .grid.passion-edit-mode {
        display: grid;
        grid-template-columns: [col-start] 45px [description-start] auto 50px min-content [description-end col-end];
        grid-template-rows: [row-start] auto [row-end description-start] auto [description-end];
      }

      .grid.passion-select {
        display: grid;
        grid-template-columns: [col-start] 75px [description-start] auto min-content [description-end col-end];
        grid-template-rows: [row-start] auto [row-end description-start] auto [description-end];

        .img {
          width: 41px;
        }
      }

      .description {
        grid-area: description;
      }

      .img {
        grid-row: 1 / -1;

        img {
          mix-blend-mode: soft-light;
        }
      }
    }

    &.rune {
      grid-template-columns: [col-start] max-content auto max-content [col-end];
    }

    &.rune-select {
      grid-template-columns: [col-start] max-content max-content auto max-content [col-end];
    }

    &.rune-edit-mode {
      grid-template-columns: [col-start] max-content max-content 50px max-content [col-end];
    }

    &.opposed-rune {
      grid-template-columns: [col-start] max-content auto max-content min-content max-content auto max-content [col-end];
    }

    &.opposed-rune-select {
      grid-template-columns: [col-start] max-content max-content auto max-content min-content max-content max-content auto max-content [col-end];
    }

    &.opposed-rune-edit-mode {
      grid-template-columns: [col-start] max-content max-content 50px max-content min-content max-content max-content 50px max-content [col-end];
    }
  }

  .experienced {
    text-shadow:
      -1px 1px 1px var(--rqg-light-outline),
      1px -1px 1px var(--rqg-light-outline),
      1px 1px 1px var(--rqg-light-outline),
      -1px -1px 1px var(--rqg-light-outline),
      0 0 1em var(--rqg-highlight),
      0 0 0.6em var(--rqg-highlight),
      0 0 0.4em var(--rqg-highlight);
    font-weight: bold;
  }

  [data-characteristic-roll],
  [data-damage-roll],
  [data-item-roll],
  [data-item-equipped-toggle],
  [data-item-heal-wound],
  [data-item-add-wound],
  [data-rqid-link],
  [data-weapon-roll],
  [data-reputation-roll],
  [data-rune-magic-roll],
  [data-spirit-magic-roll],
  [data-gear-add],
  [data-passion-add] {
    &:hover {
      box-shadow:
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    }

    &:active {
      box-shadow:
        -8px -8px 16px 0 rgba(0, 0, 0, 0.25),
        11px 12px 12px 0 rgba(255, 255, 255, 0.3),
        inset 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
    }
  }

  .contextmenu {
    cursor: context-menu;
  }

  [data-rqid-link^="je"] * {
    cursor: help;
  }

  #context-menu {
    width: fit-content;
    font-size: 14px;
    cursor: default;
    text-align: left;
    text-shadow: initial;

    font-family: "Signika", sans-serif;
    font-variant: normal;
    letter-spacing: normal;
    font-weight: normal;

    ol {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
    }

    li.context-item {
      white-space: nowrap;
      padding-top: 3px;

      .context-icon {
        fill: white;
        width: 30px;
        display: inline-block;
        text-align: center;
        position: relative;
        left: -3px;
        bottom: -4px;
        filter: invert(1);
      }

      .context-icon-img {
        height: 16pt;
      }
    }
  }

  &.sheet {
    backdrop-filter: blur(2px);
  }

  .sheet-body {
    .tab {
      height: 100%;
    }
  }

  .editor {
    height: auto;
    min-height: 100px;
    margin: 10px auto;
    min-width: 100%;

    .editor-content {
      max-width: 100vw; // Make sure the edit button always is viewable
    }
  }

  .tox.tox-tinymce {
    min-height: 200px;
  }

  &.character.sheet .editor-content {
    box-shadow: var(--rqg-box-shadow-editor-content);
  }

  /* Items List */
  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
  }

  &.chat-content {
    & > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .chat-options {
      background: url(assets/images/ui/mainbackground.webp) repeat-y scroll top left/100%;
    }

    .chat-option {
      margin: 5px;
    }

    &.weapon-chat {
      .active {
        box-shadow: 0 0 0.5em red;
      }

      h3 {
        margin-bottom: -6px;
      }

      input[type="submit"] {
        margin-top: 5px;
      }

      .damage {
        writing-mode: tb;
        transform: rotate(180deg);
        height: fit-content;
        margin-right: 3px;
        margin-left: -4px;
      }

      [name="combatManeuverRoll"] {
        width: min-content;
        flex: 1 1 auto;
      }
    }

    &.characteristic-chat {
      .multiplier {
        font-size: 80%;
        vertical-align: text-top;
      }
    }

    &.rune-magic-chat {
      .rune-option {
        margin-right: 5px;
      }
    }

    .chat-select-wide {
      width: 100%;
    }
  }

  &.dialog.heal-wound {
    .woundlist label {
      padding-right: 5px;
    }
  }

  .chat-number-input {
    text-align: right;
    width: 50px;
  }
}

.chat-message {

  .acting-img {
    width: 25px;
    flex: unset;
    border: none;
  }

  .dice-tooltip {
    text-align: end;
  }

  .roll-action {
    font-size: var(--font-size-18);
    font-weight: bold;
    color: var(--color-text-dark-primary);
  }

  .roll-level {
    font-size: var(--font-size-16);
  }

  .dice-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    mix-blend-mode: multiply;

    .target {
      font-size: var(--font-size-14);
    }

    &.success-level-0, &.success-level-1, &.success-level-2  { // Crit and better
      background-color: #6FD042CC;
      border: 4px outset #ffcf00;
      border-radius: 14px;
      box-shadow: inset 3px 5px 12px 3px #ffd800cc;
    }

    &.success-level-3 { // Special Success
      background-color: #6FD042CC;
      border: 4px groove #ffcf00;
      border-radius: 10px;
    }

    &.success-level-4 { // Success
      background-color: #6FD042CC;
    }

    &.success-level-5 { // Fail
      background-color: #CECBC5CC;
    }

    &.success-level-6 { // Fumble
      background-color: #E23333CC;
      box-shadow: inset 0 0 3px 0 black;
      clip-path: polygon(
          0% 17%,
          7% 17%,
          4% 0%,

          97% 0%,
          93% 17%,
          100% 17%,

          100% 83%,
          93% 83%,
          96% 100%,

          4% 100%,
          7% 83%,
          0% 83%
      );
    }
  }

  .rqg.flavor {
    position: relative;
    width: 100%;
    display: block;
    margin-left:auto;
    margin-right:auto;

    img {
      position: absolute;
      top: -1.6rem;
      height: 5rem;
      border: none;
      mix-blend-mode: overlay;
      display: block;
      width: 100%;
      filter: invert(0.9) drop-shadow(0px 4px 4px black)
    }
  }
}

.rqg.sheet {
  input {
    width: inherit;
    background-color: #ffffff2b;
  }
}

.rqg.sheet img.equipped-status {
  height: 15px;
  margin: 0;
}

.token-initiative input {
  color: white;
}

.app {
  &.sheet.journal-sheet {
    font-size: 16px;

    h3,
    h4 {
      margin: 0 0 -0.5rem;
    }
  }

  input[name="hitLocationItemNames"] {
    min-width: 10rem;
  }
}

.app.default-icons {
  label {
    display: flex;

    span {
      flex: 1;
    }

    img {
      height: 26px;
      border: none;
      vertical-align: inherit;
    }

    .file-picker {
      width: min-content;
    }

    input {
      width: 22rem;
    }
  }
}

#pause {
  background: none;

  figcaption {
    font-size: 3rem;
    text-shadow:
      1px 1px 2px var(--rqg-color-main),
      0 0 1em var(--rqg-color-main-bg),
      0 0 0.2em var(--rqg-color-main-bg);

    margin: 0;
    //font-size: 2em;
    font-weight: normal;
    line-height: 100px;
    text-align: center;
    position: relative;
    z-index: calc(var(--z-index-window) - 1);
    color: var(--color-text-light-1);
    //text-shadow: 1px 1px 30px var(--color-shadow-dark);
  }
}

.rqidlink {
  vertical-align: middle;
  margin: 0.5rem;

  & .icon {
    color: var(--color-text-dark-inactive);
  }
}

// Almost a copy if Foundry a.content-link. Foundry uses that for both styling and finding click handler so need a copy
.rqid-content-link[data-rqid-link] {
  // Silly construct to raise specificity
  background: #ddd;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px 9px 9px 2px;
  white-space: nowrap;
  word-break: break-all;

  i {
    color: var(--color-text-dark-inactive);
    margin-right: 0.25em;
  }

  img {
    margin-right: 0.25em;
    border: none;
    height: 0.8rem;
    position: relative;
    top: 0.15rem;

    &[src*="systems/rqg/assets/images"][src$=".svg"] {
      filter: invert(50%) sepia(6%) saturate(402%) hue-rotate(16deg) brightness(92%) contrast(88%);
    }
  }
}

.rqid-link-selector {
  display: inline-flex;

  .wizard-choice-input {
    align-self: center;
  }
}

.rune-selector {
  display: inline-flex;
  padding: 0.5rem;
  column-gap: 0.5rem;
}

.skill-selector {
  display: grid;
}

.drop-target {
  border: 1px dotted black;
  min-height: 2rem;

  & a {
    margin: 0.25rem;
    width: fit-content;
  }
}

.key-value-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  align-items: center;
  justify-items: flex-start;
  padding: 0 0 0.5em 0;

  & .input-button {
    display: flex;

    & input {
      width: 100%;
    }

    & a {
      padding: 5px;
    }
  }

  & .drop-target {
    display: inline-grid;
    align-content: center;
  }

  label {
    font-weight: bold;
    display: block;
    justify-self: right;
  }

  input {
    background-color: #ffffff10;

    &[type="number"] {
      width: 75px;
    }

    &[type="text"] {
      width: 100%;
    }

    &.short {
      width: 75px;
    }

    &.maxcontentwidth {
      width: max-content;
    }
  }

  span.number {
    text-align: right;
    width: 75px;
  }

  .img-name-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;

    &.bordered {
      border: 1px black solid;
      padding: 0.5rem;
    }

    img {
      mix-blend-mode: normal; // TODO remove when character sheet css is extracted
      opacity: 0.8;
    }
  }

  div.drop-target {
    width: 100%;
  }

  .item-sheet-rqid-link {
    display: block;

    i.fa-info-circle {
      padding: 0 0 0 7px;
      margin: 0.5rem;
    }

    .rqid-area {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    select {
      margin: 0.5rem;
    }
  }

  label {
    font-weight: bold;
  }

  .editor-container {
    width: 100%;
  }
}



.rqg.form.roll-dialog {

  .roll-header {
    margin: -8px -8px 1.5rem;
    padding: 7px;
    box-shadow: 0px -3px 11px 0px;
    background-color: var(--color-text-light-highlight);
    text-align: center;

    .sub-header {
      font-style: italic;
      margin-top: -2px;
    }
  }

  .target-box {
    flex: none;
    text-align: center;
    border: inset;
    padding: 4px;
  }

  button {
    background-color: var(--color-text-light-highlight);
  }
}

