:root {
  --main-color: #854906;
  --main-bg-color: #f3a71e;
  --secondary-color: #5c8322;
  --table-alternate-background: rgba(0, 0, 0, 0.08);
}


@font-face {
  font-family: Norse;
  src: url("assets/fonts/Norse-KaWl.otf") format("opentype");
}
@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("assets/fonts/NorseBold-2Kge.otf") format("opentype");
}
//// TODO Testing it out with only the bold version
//@font-face {
//  font-family: Norse;
//  src: url("assets/fonts/NorseBold-2Kge.otf") format("opentype");
//}

.norse {
  font-family: "Norse", "Signika", "Palatino Linotype", serif;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
  width: 100%;
}

.text-center {
  text-align: center;
  width: 100%;
}

.small-size {
  font-size: small;
}

.rqg {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Norse", "Signika", "Palatino Linotype", serif;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    font-weight: bold;

    &.window-title {
      font-family: revert;
      font-variant: revert;
      letter-spacing: revert;
      font-weight: revert;
    }
  }


  .flex-row {
    display: flex;
    justify-content: space-between;

    > * {
      height: 100%;
    }
  }

  .flex-row-start {
    display: flex;
    justify-content: flex-start;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .flex-align-center {
    align-items: center;
  }

  .masonry {
    display: block;
    columns: 12rem auto;
    gap: 1.5rem;
  }

  .masonry-item {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .nowrap {
    white-space: nowrap;
  }

  input[type="number"] {
    width: auto;
  }

  input[type="checkbox"] {
    flex: 0 0 12px;
    width: 12px;
    height: 12px;
    margin: 3px 3px;
  }

  .ml-5 {
    margin-left: 5px;
  }

  .grid {
    display: grid;
    grid-template-rows: [row-start] min-content [row-end];
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 0;

    > * {
      padding: 2px;
      position: relative;
      display: flex;
      align-items: center;
    }

    .fullrow {
      grid-column: 1 / -1;
    }
  }

  .heading {
    background: var(--main-bg-color) !important;
    mix-blend-mode: color-burn;
    text-shadow: 3px 4px 4px #6f644e;
    box-shadow: inset 0 0 20px 7px #e4a025;
  }

  .overlay {
    background-color: red;
    z-index: 10;
    grid-column: col;
    grid-row: row;
  }

  .grid.one {
    grid-template-columns: [col-start] 30px auto [col-end];

    // Alternating row background
    > *:nth-child(2n+1)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.two {
    grid-template-columns: [col-start] 30px auto [col-end];

    // Alternating row background
    > *:nth-child(4n+1),
    > *:nth-child(4n+2)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.three {
    grid-template-columns: [col-start] 30px auto min-content [col-end];

    // Alternating row background for 3 columns
    > *:nth-child(6n+1),
    > *:nth-child(6n+2),
    > *:nth-child(6n+3)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.four {
    grid-template-columns: [col-start] 30px auto repeat(2, min-content) [col-end];

    // Alternating row background for 4 columns
    > *:nth-child(8n+1),
    > *:nth-child(8n+2),
    > *:nth-child(8n+3),
    > *:nth-child(8n+4)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.five {
    grid-template-columns: [col-start] 30px auto repeat(3, min-content) [col-end];

    // Alternating row background for 5 columns
    > *:nth-child(10n+1),
    > *:nth-child(10n+2),
    > *:nth-child(10n+3),
    > *:nth-child(10n+4),
    > *:nth-child(10n+5)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.six {
    grid-template-columns: [col-start] 30px repeat(5, auto) [col-end];

    // Alternating row background for 6 columns
    > *:nth-child(12n+1),
    > *:nth-child(12n+2),
    > *:nth-child(12n+3),
    > *:nth-child(12n+4),
    > *:nth-child(12n+5),
    > *:nth-child(12n+6)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.seven {
    grid-template-columns: [col-start] 30px repeat(6, min-content) [col-end];

    // Alternating row background for 7 columns
    > *:nth-child(14n+1),
    > *:nth-child(14n+2),
    > *:nth-child(14n+3),
    > *:nth-child(14n+4),
    > *:nth-child(14n+5),
    > *:nth-child(14n+6),
    > *:nth-child(14n+7)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.spiritmagic {
    grid-template-columns: [col-start] 30px auto repeat(5, min-content) [col-end];

    // Alternating row background for 7 columns
    > *:nth-child(14n+1),
    > *:nth-child(14n+2),
    > *:nth-child(14n+3),
    > *:nth-child(14n+4),
    > *:nth-child(14n+5),
    > *:nth-child(14n+6),
    > *:nth-child(14n+7)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.gear {
    grid-template-columns: [col-start] 30px auto repeat(4, max-content) [col-end];

    > *:nth-child(12n+1),
    > *:nth-child(12n+2),
    > *:nth-child(12n+3),
    > *:nth-child(12n+4),
    > *:nth-child(12n+5),
    > *:nth-child(12n+6)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.rune-magic {
    grid-template-columns: [col-start] 30px auto repeat(6, max-content) [col-end];

    > *:nth-child(16n+1),
    > *:nth-child(16n+2),
    > *:nth-child(16n+3),
    > *:nth-child(16n+4),
    > *:nth-child(16n+5),
    > *:nth-child(16n+6),
    > *:nth-child(16n+7),
    > *:nth-child(16n+8)
    {
      background: var(--table-alternate-background);
    }
  }

  .grid.hit-location {
    grid-template-columns: [col-start] auto min-content repeat(5, auto) [col-end];

    > *:nth-child(14n+5),
    > *:nth-child(14n+6),
    > *:nth-child(14n+7),
    > *:nth-child(14n+8),
    > *:nth-child(14n+9),
    > *:nth-child(14n+10),
    > *:nth-child(14n+11) {
      background: var(--table-alternate-background);
    }
  }

  .grid.passions {
    display: grid;
    grid-template-rows: [row-start] auto [row-end];
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 0;
    grid-template-columns: [col-start] auto [col-end];

    // Alternating row background
    > *:nth-child(2n+1) {
      background: var(--table-alternate-background);
    }

    .grid.passion {
      display: grid;
      grid-template-columns: [col-start] 45px [description-start] auto min-content [description-end col-end];
      grid-template-rows: [row-start] auto [row-end description-start] auto [description-end];
    }

    .description {
      grid-area: description;
    }

    .img {
      grid-row: 1 / -1;
      mix-blend-mode: soft-light;
    }

  }

  .grid.weapon {
    grid-template-columns: [col-start] 30px auto auto repeat(6, max-content) [col-end];

    > *:nth-child(18n+1),
    > *:nth-child(18n+2),
    > *:nth-child(18n+3),
    > *:nth-child(18n+4),
    > *:nth-child(18n+5),
    > *:nth-child(18n+6),
    > *:nth-child(18n+7),
    > *:nth-child(18n+8),
    > *:nth-child(18n+9) {
      background: var(--table-alternate-background);
    }
  }

  .grid.armor {
    grid-template-columns: [col-start] 30px auto min-content auto auto repeat(3, max-content) [col-end];

    > *:nth-child(16n+1),
    > *:nth-child(16n+2),
    > *:nth-child(16n+3),
    > *:nth-child(16n+4),
    > *:nth-child(16n+5),
    > *:nth-child(16n+6),
    > *:nth-child(16n+7),
    > *:nth-child(16n+8) {
      background: var(--table-alternate-background);
    }
  }

  .grid.rune {
    grid-template-columns: [col-start] max-content auto max-content [col-end];
  }

  .grid.opposed-rune {
    grid-template-columns: [col-start] max-content auto max-content min-content max-content auto max-content [col-end];
  }

  .experienced {
    text-shadow: 0 0 0.5em red, 0 0 1.5em yellow;
  }

  a.entity-link, a.inline-roll {
    background: initial;
    padding: unset;
    border: none;
    border-radius: 0;
  }

  [data-item-roll] {
    cursor: alias;
  }

  .entity-link {
    cursor: help;
  }

  #context-menu {
    font-size: 14px;
    cursor: default;
    text-align: left;
    text-shadow: initial;

    li.context-item {
      white-space: nowrap;
    }
  }

  .sheet-body {
    .tab {
      height: 100%;
    }
  }

  .editor, .editor-content {
    height: 100%;
    min-height: 5rem;
    background-color: white;
  }

  /* Items List */
  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
  }
}

.rqg.actor {
  .profile-img {
    height: 117px;
    transform: rotate(5deg);
    box-shadow: 5px 5px 10px 0 #808080;
  }

  .mainbackground {
    grid-area: -1 / 2 / 1 / -1; // TODO define by area name instead
    background: url(./assets/images/scrolltile5.png) repeat-y scroll top left/100%;
  }

  .window-content {
    padding: 0;
    background-image: none;

    form {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-areas:
        "nav header"
        "nav main";
      grid-template-rows: min-content;
    }

    .sheet-header {
      grid-area: header;
      //background-color: var(--main-bg-color);
      padding: 8px 4%;
    }

    .navbackground {
      grid-area: nav;
      //background-color: var(--main-bg-color);
      height: 100%;
      width: 100%;
    }

    nav.sheet-tabs {
      grid-area: nav;
      flex-direction: row;
      border: none;
      padding: 8px 0;
      margin: 0;

      .item {
        //line-height: 60px;
        //height: 60px;
        //font-weight: bold;
        white-space: nowrap;
        //flex-basis: 100%;
        //text-align: center;
        //padding: 0 0 0 8px;
        //transform: rotate(-60deg) translateX(-30px) translateY(-30px);
        //transform-origin: top;
        color:  white;
        writing-mode: vertical-rl;
        transform: rotate(180deg) translateX(-4px);
        padding: 10px 0;
        font-size: 13px;
        font-variant-caps: normal;

        &.active {
          //position: relative;
          //transform: rotate(0deg) translateX(0) translateY(0);
          //text-align: right;

          //background: #8c0303;
          //border-radius: 50% 23% 25% 50% / 16% 35% 37% 50%;
          //box-shadow: 0 0 3px 4px #8c0303, 0px 0px 20px 4px black;
          //text-shadow: 2px 2px 8px black;

          // *****

          border-radius: 50% 23% 25% 50% / 16% 35% 37% 50%;
          box-shadow: inset 2px 2px 7px 2px #000000, 0 0 8px 0 #d9dc17, -3px -3px 7px 2px black;
          text-shadow: 0 0 3px black, -2px -2px 3px black;
          background: linear-gradient(purple 0%, #e60000 90%), linear-gradient(to right, #711771 0%, #d6d63a 90%), url(assets/images/stonetexture2.jpg);
          background-blend-mode: screen, difference;
          color: white;
          font-weight: bold;
        }
      }

    }

    .sheet-body {
      grid-area: main;
      padding: 8px 4%;
    }
  }

  .topheaderline {
    display: flex;
    justify-content: space-between;

    * {
      margin: 0;
    }

    .mp {
      font-weight: bold;
      input {
        width: 25px;
        font-family: "Signika", sans-serif;
      }
    }

    .mp {
      margin-left: 40px;
    }

    input[name="name"] {
      background-color: transparent;
      border: none;
      font-size: 35px;
      font-weight: bold;
    }
  }

  .skill-category {
    width: 15rem;
  }

  .characteristics {
    display: flex;
    justify-content: space-between;

    div {
      text-align: center;
    }
    label {
      font-weight: bold;
      font-size: 23px;
    }
    input {
      border: none;
      background-color: transparent;
      font-size: 25px;
      width: 100%;

      &:focus {
        border: 1px solid grey;
        background-color: #f1f1f1;
      }
    }
  }

  img {
    border: none;
  }

  .thirdline {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    .norse {
      font-weight: bold;
    }
  }

  input {
    width: initial;
  }

  .editor-content {
    min-height: 200px;
  }

  .background label {
    line-height: 2rem;
  }
}

.rqg.sheet {
  input {
    width: inherit;
  }
}

.rqg img.rune {
  height: 20px;
  border: none;
  margin: 0;
  mix-blend-mode: overlay;
}

.rqg img.item {
  height: 26px;
  border: none;
  vertical-align: inherit;
}

