<div class="humanoid">
  {{#each embeddedItems.hitLocation}}
    {{> actorHitLocationStats}}<br>
  {{/each}}
  <div class="actor-state">
    {{#if (eq system.attributes.health "shock")}}<img src="systems/rqg/assets/images/token-effects/shock.svg">{{/if}}
    {{#if (eq system.attributes.health "dead")}}<img src="systems/rqg/assets/images/token-effects/dead.svg">{{/if}}
    {{#if (eq system.attributes.health "unconscious")}}<img src="systems/rqg/assets/images/token-effects/unconscious.svg">{{/if}}
  </div>
</div>
