name: Auto Release
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build dist
        uses: actions/setup-node@v1
        with:
          node-version: '12'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm run release

      - name: Get Version
        shell: bash
        id: get-version
        run: echo "::set-output name=version::$(node ./.github/workflows/get-version.js)"

      - name: Create Release
        id: create_versioned_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          name: ${{ steps.get-version.outputs.version }}
          draft: false
          prerelease: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './dist/system.json,./releases/rqg.zip'
          tag: ${{ steps.get-version.outputs.version }}

      - name: Zip dist
        run: cd dist && zip -r ../rqg.zip *
